<div class="panel">
        <div class="panel-heading">
            <h3>Registered users </h3>
        </div>
        <div  class="panel-body">
            <ul  class="list-group">
                <li  class="list-group-item">
                    <h4><a href="view/">User1 </a></h4>
                    <div class="submit-buttons">
                        <a href="/edit/reply/{{.Id}}/new" class="btn btn-default"> Ban </a>
                        <a href="/edit/topic/{{.Id}}" class="btn btn-default"> Delete </a>
                        <a href="/delete/thread/{{.Id}}" class="btn btn-default"> Make an admin </a>
                    </div>
                </li>
                <li  class="list-group-item">
                    <h4><a href="view/">User1 </a></h4>
                    <div class="submit-buttons">
                        <a href="/edit/reply/{{.Id}}/new" class="btn btn-default"> Ban </a>
                        <a href="/edit/topic/{{.Id}}" class="btn btn-default"> Delete </a>
                        <a href="/delete/thread/{{.Id}}" class="btn btn-default">  Make an admin  </a>
                    </div>
                </li>
                <li  class="list-group-item">
                    <h4><a href="view/">User1 </a></h4>
                    <div class="submit-buttons">
                        <a href="/edit/reply/{{.Id}}/new" class="btn btn-default"> Ban </a>
                        <a href="/edit/topic/{{.Id}}" class="btn btn-default"> Delete </a>
                        <a href="/delete/thread/{{.Id}}" class="btn btn-default">  Make an admin  </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
